@use "../../responsive" as screen;

.home {
  display: flex;
  height: 100%;

  .text-container {
    flex: 3;

    .wrapper {
      padding-right: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      height: 100%;

      @include screen.sm {
        justify-content: flex-start;
      }

      @include screen.md {
        padding: 0;
      }

      .title {
        font-size: 54px;

        @include screen.lg {
          font-size: 48px;
        }
      }

      .boxes {
        display: flex;
        justify-content: space-between;

        @include screen.sm {
          display: none;
        }

        h1 {
          font-size: 36px;

          @include screen.lg {
            font-size: 32 px;
          }
        }

        h2 {
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
  }

  .image-container {
    flex: 2;
    background-color: #ff7625;
    position: relative;

    @include screen.md {
      display: none;
    }

    img {
      width: 115%;
      position: absolute;
      right: 0;

      @include screen.lg {
        width: 105%;
      }
    }
  }
}
